/* Gallery Styles */
.gallery-container {
  padding: 20px;
  text-align: center;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  /* justify-items: center; */
}

.photo-item {
  background: #f0f0f0;
  padding: 27px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.photo-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.delete-icon:hover {
  color: darkred;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
.photo-grid {
  grid-template-columns: 1fr;
}
}
